@import 'Palette.scss';

.ChatHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: $sage-grove-a20;
  .chatHeader__hash {
    font-size: 30px;
    padding: 10px;
  }
  .chatHeader__left > h3 {
    display: flex;
    align-items: center;
  }
  .chatHeader__right {
    flex: 0.5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > .MuiSvgIcon-root {
      padding: 5px;
      cursor: pointer;
    }
    & :hover {
      color: $sage-grove-a50;
    }
  }
}

.chatHeader__search {
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding: 3px;
  background-color: black;
  & > input {
    background: transparent;
    outline-width: 0;
    color: white;
    border: none;
  }
}
