.sidebarChannel:hover > h4{
    color: white;
    background-color: #2f3135;
    transition: ease-in-out 0.15s;
}

.sidebarChannel > h4{
    display: flex;
    padding-left: 25px;
    align-items: center;
    cursor: pointer;
}

.sidebarChannel__hash{
    font-size: 30px;
    padding: 3px;
}