@import "Palette.scss";

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $sage-grove-a0;
  color: $sage-grove-a30;
  transition: width 0.3s ease;
  overflow: hidden;

  &--expanded {
    width: 310px;
    min-width: 310px;
  }

  &--collapsed {
    width: 60px;
    min-width: 60px;
    flex: none;
  }
}

.sidebar__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 3px solid $sage-grove-a10;
}

.sidebar__channels {
  flex: 1;
  overflow-y: auto;
}

.sidebar__icons {
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in;

  &:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    color: $sage-grove-a60;
    background-color: $sage-grove-a50;
    border-radius: 50%;
  }
}

.sidebar__channels__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: $sage-grove-a20;
}

.sidebar__header {
  display: flex;
  align-items: center;
}

.sidebar__voice,
.sidebar__profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top: 1px solid $sage-grove-a10;
  background-color: $sage-grove-a0;
  color: $sage-grove-a30;
}

.sidebar__voiceInfo {
  flex: 1;
  padding: 10px;

  & > h3 {
    color: $sage-grove-a20;
  }
}

.sidebar__voiceicon {
  color: $sage-grove-a20;
}

.sidebar__voiceIcons {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: flex-start;
  }
  li {
    display: inline-block;
    padding: 8px;
  }
}

.sidebar__profile__info {
  flex: 1;
  padding: 10px;
}

.sidebar__profile__icons {
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 6px;

    li {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
