$sage-grove-a0: oklab(39.9% -0.043 -0.003);
$sage-grove-a10: oklab(59% -0.064 0.031);
$sage-grove-a20: oklab(78.7% -0.054 0.061);
$sage-grove-a30: oklab(90.1% 0.005 0.027);
$sage-grove-a40: oklab(34.8% 0 0);

.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.30;
    height: 100vh;
    background-color: $sage-grove-a0;
}